In [45]:
from google.colab import drive
drive.mount('/content/gdrive')

import os
os.chdir('/content/gdrive/My Drive/Colab Notebooks/CP')

Mounted at /content/gdrive

In [46]:
os.getcwd()

'/content/gdrive/MyDrive/Colab Notebooks/CP'

In [3]:
# !pip install kaggle --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (1.5.13)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (4.0.0)

In [ ]:
# from google.colab import files
# files.upload()

In [4]:
# import os

# os.environ['KAGGLE_USERNAME'] = 'username'
# os.environ['KAGGLE_KEY'] = 'key'

In [11]:
!kaggle -h

usage: kaggle
       [-h]
       [-v]
       {competitions,c,datasets,d,kernels,k,config}
       ...

optional arguments:
  -h, --help
    show this help message and exit
  -v, --version
    show program's version number and exit

commands:
  {competitions,c,datasets,d,kernels,k,config}
    Use one of:
    competitions {list, files, download, submit, submissions, leaderboard}
    datasets {list, files, download, create, version, init, metadata, status}
    config {view, set, unset}
    competitions (c)
    Commands related to Kaggle competitions
    datasets (d)
    Commands related to Kaggle datasets
    kernels (k)
    Commands related to Kaggle kernels
    config
    Configuration settings

In [5]:
# !kaggle datasets download -d latifahhukma/fashion-campus

fashion-campus.zip: Skipping, found more recently modified local copy (use --force to force download)

In [13]:
# !unzip 'fashion-campus.zip'

Archive:  fashion-campus.zip
  inflating: click_stream.csv
  inflating: click_stream_new.csv
  inflating: customer.csv
  inflating: product.csv
  inflating: transaction_new.csv
  inflating: transactions.csv

In [4]:
ls

click_stream.csv      customer.csv        kaggle.json  transaction_new.csv
click_stream_new.csv  fashion-campus.zip  product.csv  transactions.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
customer = pd.read_csv('./customer.csv')
transaction = pd.read_csv('./transaction_new.csv')

In [5]:
product = pd.read_csv('product.csv', error_bad_lines = False)
# Error tokenizing data:기대 단어가 10개인데, 라인에 11개로 더 많아서 발생. error_bad_lines로 해당 라인 건너뜀. warn_bad_lines=False는 skipping line 정보도 출력하지 않는다.

<ipython-input-5-19ff6413352b>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  product = pd.read_csv('product.csv', error_bad_lines = False)
b'Skipping line 6044: expected 10 fields, saw 11\nSkipping line 6569: expected 10 fields, saw 11\nSkipping line 7399: expected 10 fields, saw 11\nSkipping line 7939: expected 10 fields, saw 11\nSkipping line 9026: expected 10 fields, saw 11\nSkipping line 10264: expected 10 fields, saw 11\nSkipping line 10427: expected 10 fields, saw 11\nSkipping line 10905: expected 10 fields, saw 11\nSkipping line 11373: expected 10 fields, saw 11\nSkipping line 11945: expected 10 fields, saw 11\nSkipping line 14112: expected 10 fields, saw 11\nSkipping line 14532: expected 10 fields, saw 11\nSkipping line 15076: expected 10 fields, saw 12\nSkipping line 29906: expected 10 fields, saw 11\nSkipping line 31625: expected 10 fields, saw 11\nSkipping line 33020: expected 10 fields, saw 11\nSkipping line 35748: expected 10 fields, saw 11\nSkipping line 35962: expected 10 fields, saw 11\nSkipping line 37770: expected 10 fields, saw 11\nSkipping line 38105: expected 10 fields, saw 11\nSkipping line 38275: expected 10 fields, saw 11\nSkipping line 38404: expected 10 fields, saw 12\n'

In [6]:
click = pd.read_csv('./click_stream_new.csv')

In [25]:
click.event_name.unique()

array(['HOMEPAGE', 'SCROLL', 'ADD_TO_CART', 'BOOKING', 'SEARCH',
       'ITEM_DETAIL', 'ADD_PROMO', 'CLICK', 'PROMO_PAGE'], dtype=object)

In [40]:
click[click['event_name']=='CLICK']
click[click['event_name']=='SCROLL']
# 무엇인지? 무엇을 클릭하고 스크롤한 것인가?
# 홈페이지, 아이템 상세 등이 별도로 있음.

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
28,f7b5cd60-4f87-4b3c-8bde-c7da8930eec2,CLICK,2019-09-09T06:50:49.425431Z,0376c7bf-145a-4eb0-953c-5137bc52bbac,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,f7b5cd60-4f87-4b3c-8bde-c7da8930eec2,CLICK,2019-09-09T07:26:19.425431Z,6ed5a909-6814-459c-8d9d-baa685a49805,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,f7b5cd60-4f87-4b3c-8bde-c7da8930eec2,CLICK,2019-09-09T09:08:18.425431Z,027ae8a5-2a4d-4d44-ae8d-7dfd7d951b0a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9,CLICK,2019-09-24T01:15:39.425431Z,e363f2c3-d624-41df-b24b-11ea67d10b68,WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,d9aaa8a8-5e60-4e1e-ab0a-bb9755a7a3e9,CLICK,2019-09-24T11:17:36.425431Z,dcb63b15-82fc-4bc8-b345-784e7774f882,WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12833509,4cf49128-44a8-40dd-baf0-068312e8c09b,CLICK,2021-09-02T06:11:43.409320Z,890ddb20-122a-4342-95dc-6c678cb7af5c,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833513,aca43c1c-1078-4cee-9b84-e0d6cbbfa096,CLICK,2018-08-19T17:31:13.588392Z,34f5030b-a0e3-4428-a587-c5ab302edf8d,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833549,3d8a20f8-a889-47bc-9f3a-b26534ec10e4,CLICK,2022-04-16T15:01:38.467662Z,662a2e30-727f-4974-9604-64e75580eefe,WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833557,1ded1121-f3d0-472a-bbbf-6cc1a74c6aa2,CLICK,2022-03-26T20:15:47.536993Z,9f1cb764-60d0-4255-8f26-2659cd003096,WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833565,5f861a7e-547b-4d2c-895d-b95567a3ee9e,CLICK,2022-01-02T17:36:59.355344Z,7c4ce0e3-f0e4-469c-a402-3d3081e4cdc0,WEB,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
click.event_name.value_counts(normalize=True)

CLICK          0.194648
HOMEPAGE       0.193798
ADD_TO_CART    0.150944
SCROLL         0.129626
ITEM_DETAIL    0.100548
SEARCH         0.091421
BOOKING        0.066434
PROMO_PAGE     0.047136
ADD_PROMO      0.025444
Name: event_name, dtype: float64

In [36]:
click.event_name.value_counts()

CLICK          2498038
HOMEPAGE       2487126
ADD_TO_CART    1937157
SCROLL         1663571
ITEM_DETAIL    1290396
SEARCH         1173266
BOOKING         852582
PROMO_PAGE      604931
ADD_PROMO       326535
Name: event_name, dtype: int64

In [86]:
c = transaction[transaction['promo_code'].notnull()]
c = c.drop_duplicates(subset='session_id')
c
# add_promo session과 transaction의 session 갯수가 비슷. 발급 쿠폰을 잘 사용하였음.
# 프로모션 페이지 랜딩에 비해 쿠폰 발급 인원은 절반이나, 사용률은 준수함.

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
5,2019-02-03T11:25:55.365620Z,4774,1ed58c46-67fb-4386-924b-983c74ccb4d7,7fa0b583-6d30-40bc-8b61-0f70f5bef30f,Debit Card,Success,6369,WEEKENDMANTAP,5000,2019-02-07T10:41:59.997463Z,-3.602334,120.363824,181865,59620,1,183234
8,2019-06-24T12:08:52.365620Z,4774,6edd9366-4788-4bbb-ae5b-744e45e6118d,0d20c278-e082-4f28-9afe-8b5907d7a284,Credit Card,Success,4019,AZ2022,10000,2019-06-28T10:34:36.588498Z,-6.126016,106.779552,370757,12282,1,364776
9,2019-08-10T12:14:24.365620Z,4774,771665e9-7df2-41c8-8168-16d5cdd407a1,f5352cdc-0e3c-4e77-af42-645501dcded4,Credit Card,Success,9072,WEEKENDSERU,10000,2019-08-14T18:07:04.125993Z,-0.992004,114.438739,1295740,53051,1,292052
17,2019-12-29T11:54:05.365620Z,4774,01e4aedf-c297-4404-992a-1c9756f19ad9,7a134594-54ed-447a-a87d-a67bea47e109,Credit Card,Success,6208,LIBURDONG,10000,2020-01-03T04:09:43.221514Z,-7.118592,113.312235,249616,25734,1,245824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254575,2022-07-07T09:48:29.144627Z,99675,1849df71-943e-431d-8731-35b75670203a,0aa7c9aa-517e-4c79-b691-137861f4e9af,Credit Card,Success,3388,XX2022,0,2022-07-12T23:34:17.670587Z,-8.093308,110.709094,485334,35318,1,488722
1254581,2021-12-09T07:35:18.222046Z,34829,ccde6b83-ee42-4cce-b2cd-976574886eac,954e1211-4d45-4d0b-ba84-53e80119592c,OVO,Success,5010,AZ2022,10000,2021-12-12T07:52:44.803822Z,-8.677264,115.176947,359203,19394,1,354213
1254582,2021-12-11T01:20:36.944593Z,99645,5bcd3434-1dc6-44bb-ae63-fd19714cbd6c,e6e6c108-abd0-49a2-b0a5-691117f9cfe1,Credit Card,Success,2181,WEEKENDSERU,5000,2021-12-12T13:28:22.848703Z,-6.185498,106.831093,1158159,13079,4,288835
1254583,2019-12-18T11:01:09.623382Z,87319,af7f291a-b01b-4bfd-89a9-237b16368b15,bb6e5426-a3f3-426a-b99d-79173eaa234b,Credit Card,Success,4503,AZ2022,0,2019-12-23T22:56:46.831720Z,-7.155977,110.891858,184143,11312,1,188646
1254584,2019-12-19T12:47:14.701215Z,58180,b242e188-5f94-4448-a038-c5865842374b,5e3183df-198b-40e0-b861-27ef694a832a,Gopay,Success,4724,BUYMORE,10000,2019-12-23T06:02:05.828334Z,-6.155983,106.723535,365963,47433,1,360687

In [30]:
click[click['promo_code'].notnull()].event_name.unique()
#promo_code, promo_amount는 event가 add_promo일 때 존재.

array(['ADD_PROMO'], dtype=object)

In [50]:
a= click[click['event_name']=='ADD_PROMO']
a[a['product_id'].notnull()]
# product_id는 없는 것으로 보아 쿠폰 발급 또는 쿠폰 추가?

Empty DataFrame
Columns: [session_id, event_name, event_time, event_id, traffic_source, product_id, quantity, item_price, payment_status, search_keywords, promo_code, promo_amount]
Index: []

In [ ]:
click[click['event_name']=='PROMO_PAGE']
# promo_page는 page랜딩만?

In [73]:
click[click['search_keywords'].notnull()].search_keywords.value_counts()

Dress Kondangan    256194
Tas Wanita         128790
Bekas              112269
T-Shirt            100087
Baju                83873
Kaos                83759
Dress Pesta         76829
Sepatu Nike         51578
Tas Kerja           38677
Second Hand         28429
Second              28195
Thrift              28171
Sepatu              28029
Celana Panjang      28009
Barang Bekas        27818
Sepatu Adidas       25627
Sendal              12787
Celana              11739
T-shirt              7097
Jam                  7000
Topi                 4844
Baju Tidur           2268
Daster               1197
Name: search_keywords, dtype: int64

In [34]:
click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833602 entries, 0 to 12833601
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       object
 1   event_name       object
 2   event_time       object
 3   event_id         object
 4   traffic_source   object
 5   product_id       float64
 6   quantity         float64
 7   item_price       float64
 8   payment_status   object
 9   search_keywords  object
 10  promo_code       object
 11  promo_amount     float64
dtypes: float64(4), object(8)
memory usage: 1.1+ GB

In [54]:
click.session_id.value_counts()

65383bfb-5535-445f-ab52-aec4658eb0bd    650
eb310630-8d65-4c59-8a33-a386b891ec74    650
d46877e2-9e20-4277-8698-647dee913a14    539
12489f38-0fc1-4b80-9fe4-b267c4413ae7    539
c22cb71e-f232-4930-9d59-85340bd98336    519
                                       ...
e9e6daf7-9369-4261-b51f-049d7736ead4      2
663c5044-5144-4d83-b34a-0573aa36cee8      2
582cf298-4b62-4ff8-8d50-2a371ec8608f      2
a3454191-6eeb-4b8a-b8bd-45cd0824ab1b      2
fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c      2
Name: session_id, Length: 895203, dtype: int64

In [55]:
transaction.session_id.value_counts()

eaeb79af-fbe8-4825-8457-c73f5937ef96    51
5f3094ac-b3e4-4dc1-b1a2-bd492634abea    49
2744464b-1097-4bb5-89e2-275aba30d3ea    48
63687c42-bbbc-443a-be21-2e15e0e8c7a9    48
5aa4bcd3-d4a7-400f-a11f-5cf38b751fe4    43
                                        ..
1cac4bcd-107b-41d7-928d-087bf0fb480c     1
8ba11883-5ac4-4d13-9fbf-eafb145d0a9c     1
dab46d1b-0aff-44e8-82c1-225b20f7cd17     1
36cf2587-b4c1-4abc-94ef-4663d9c962ec     1
5e3183df-198b-40e0-b861-27ef694a832a     1
Name: session_id, Length: 852584, dtype: int64

In [58]:
click[click['event_name']=='BOOKING'].session_id.value_counts()

7d440441-e67a-4d36-b324-80ffd636d166    1
f5f595b9-14bc-4a63-9503-4f645df4241d    1
cd1f5e68-9b85-4d0f-a53b-54f473275618    1
d29fa6df-c4f0-4389-a91a-2fcc49569a76    1
b2fee839-2634-47d1-9a02-e0ebee952c6c    1
                                       ..
cd543018-4df9-4357-b72a-9c0ad8c1a0e8    1
0304204a-56e4-4c3c-b68f-d6d59eca4ff9    1
368ba369-d01f-42d8-a043-3be65a348019    1
cdd6ec8d-cedb-4a34-b12a-4a1600e70eeb    1
64585e37-3fe7-48d7-b79b-ebcb70230eb2    1
Name: session_id, Length: 852582, dtype: int64

In [64]:
b= set(sorted(click[click['event_name']=='BOOKING'].session_id))
b2 = set(sorted(transaction.session_id))

b2-b
# 트랜잭션에는 존재하지만, 클릭스트림에는 존재하지 않는 세션id

{'72dc1452-68fe-439b-bf4b-e3050597bba5',
 'a00f6bc1-87a4-4a03-84b9-3cf9874f1613'}

In [65]:
click[click['session_id']=='72dc1452-68fe-439b-bf4b-e3050597bba5']

Empty DataFrame
Columns: [session_id, event_name, event_time, event_id, traffic_source, product_id, quantity, item_price, payment_status, search_keywords, promo_code, promo_amount]
Index: []

In [68]:
transaction[transaction['session_id']=='72dc1452-68fe-439b-bf4b-e3050597bba5']

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
1248982,2021-10-25T20:46:12.082475Z,51844,24793e46-d2d6-4b21-8223-4d721a133a85,72dc1452-68fe-439b-bf4b-e3050597bba5,OVO,Success,0,NaN,10000,2021-10-29T05:47:26.361306Z,-3.319836,119.331015,253269,28975,1,243269

In [69]:
transaction[transaction['session_id']=='a00f6bc1-87a4-4a03-84b9-3cf9874f1613']

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
1248976,2021-01-18T09:29:55.082475Z,51844,9dd7ca0b-0c84-473b-8c2d-2998358b4782,a00f6bc1-87a4-4a03-84b9-3cf9874f1613,OVO,Success,4351,BUYMORE,15000,2021-01-24T06:22:45.100795Z,-6.75709,107.096207,1636597,20393,1,405375
1248977,2021-01-18T09:29:55.082475Z,51844,9dd7ca0b-0c84-473b-8c2d-2998358b4782,a00f6bc1-87a4-4a03-84b9-3cf9874f1613,OVO,Success,4351,BUYMORE,15000,2021-01-24T06:22:45.100795Z,-6.75709,107.096207,1636597,21623,1,222912
1248978,2021-01-18T09:29:55.082475Z,51844,9dd7ca0b-0c84-473b-8c2d-2998358b4782,a00f6bc1-87a4-4a03-84b9-3cf9874f1613,OVO,Success,4351,BUYMORE,15000,2021-01-24T06:22:45.100795Z,-6.75709,107.096207,1636597,51265,1,258742
1248979,2021-01-18T09:29:55.082475Z,51844,9dd7ca0b-0c84-473b-8c2d-2998358b4782,a00f6bc1-87a4-4a03-84b9-3cf9874f1613,OVO,Success,4351,BUYMORE,15000,2021-01-24T06:22:45.100795Z,-6.75709,107.096207,1636597,38380,1,186989
1248980,2021-01-18T09:29:55.082475Z,51844,9dd7ca0b-0c84-473b-8c2d-2998358b4782,a00f6bc1-87a4-4a03-84b9-3cf9874f1613,OVO,Success,4351,BUYMORE,15000,2021-01-24T06:22:45.100795Z,-6.75709,107.096207,1636597,56446,1,268120
1248981,2021-01-18T09:29:55.082475Z,51844,9dd7ca0b-0c84-473b-8c2d-2998358b4782,a00f6bc1-87a4-4a03-84b9-3cf9874f1613,OVO,Success,4351,BUYMORE,15000,2021-01-24T06:22:45.100795Z,-6.75709,107.096207,1636597,23667,1,283810

In [70]:
transaction[transaction['payment_method']=='OVO']
# OVO 때문은 아님

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
44,2018-07-29T11:43:29.162570Z,58191,dc043ec2-bf57-4b4f-99ee-00e2645d6c6c,461f30b0-d42a-4c82-9738-6a5b1ef1b1e7,OVO,Success,3125,WEEKENDMANTAP,10000,2018-08-01T21:32:37.736077Z,-7.736601,110.265892,231829,51799,1,224954
46,2018-08-28T11:50:35.162570Z,58191,e316f025-987e-4b36-bb2e-a73c3d7cabfa,b66948fe-68c7-4a19-9af7-4faebff2546b,OVO,Success,0,NaN,10000,2018-08-30T19:12:36.775120Z,-1.218203,114.935767,410916,49520,1,400916
48,2018-09-27T11:51:32.162570Z,58191,3b4eaf2c-7395-4db6-9624-043ffd71e105,b3c7c3ee-e705-4879-b087-30a88748ac8c,OVO,Success,0,NaN,5000,2018-10-01T03:28:49.685149Z,-8.328679,118.773797,381642,47283,1,376642
49,2018-10-12T12:42:59.162570Z,58191,571c04e2-3b43-48c5-9570-4da5fefd8fcb,e12f44c5-dd96-48c5-83eb-e48a82322239,OVO,Success,5851,AZ2022,10000,2018-10-14T21:07:49.050447Z,-7.344398,107.713850,483582,39104,1,479433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254569,2021-05-25T10:13:47.098790Z,37287,5cce8c0e-2400-4c39-9175-d5d46191670e,44ab5618-c560-42d3-afe5-c8e6bc43bbf8,OVO,Success,0,NaN,10000,2021-05-30T10:55:26.421859Z,-7.545787,110.328900,186537,12354,1,176537
1254570,2021-09-10T14:58:05.098790Z,37287,cecf50f2-ab2f-4523-971d-c701df7c28ff,f86dad5c-f2ad-45ff-ab16-2afba8fae58d,OVO,Success,5060,AZ2022,10000,2021-09-15T06:56:55.468310Z,-6.251006,106.935089,232845,31581,1,227905
1254571,2021-12-27T20:11:09.098790Z,37287,7a6ecaf3-316d-40b2-b366-8f670d669c30,8d9f019f-600c-439e-b302-0779540e0561,OVO,Success,2603,XX2022,25000,2022-01-01T20:00:54.420462Z,0.388382,110.951356,340924,19536,1,318527
1254572,2022-04-15T01:10:55.098790Z,37287,e6f53d95-dd46-4c33-8238-05c6e0aa554c,5d3f98ea-08d8-42a4-813d-28cb0a36ebdf,OVO,Success,4890,BUYMORE,15000,2022-04-18T16:17:08.901961Z,-8.502524,114.171850,246186,25876,1,236076
1254581,2021-12-09T07:35:18.222046Z,34829,ccde6b83-ee42-4cce-b2cd-976574886eac,954e1211-4d45-4d0b-ba84-53e80119592c,OVO,Success,5010,AZ2022,10000,2021-12-12T07:52:44.803822Z,-8.677264,115.176947,359203,19394,1,354213

In [31]:
t_del_idx = transaction[transaction['session_id']=='72dc1452-68fe-439b-bf4b-e3050597bba5'].index
t_del_idx2 = transaction[transaction['session_id']=='a00f6bc1-87a4-4a03-84b9-3cf9874f1613'].index
td_idx = t_del_idx.append(t_del_idx2)
td_idx

Int64Index([1248982, 1248976, 1248977, 1248978, 1248979, 1248980, 1248981], dtype='int64')

In [34]:
transaction[transaction['booking_id'].duplicated()]

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
10,2019-08-10T12:14:24.365620Z,4774,771665e9-7df2-41c8-8168-16d5cdd407a1,f5352cdc-0e3c-4e77-af42-645501dcded4,Credit Card,Success,9072,WEEKENDSERU,10000,2019-08-14T18:07:04.125993Z,-0.992004,114.438739,1295740,46352,1,241945
11,2019-08-10T12:14:24.365620Z,4774,771665e9-7df2-41c8-8168-16d5cdd407a1,f5352cdc-0e3c-4e77-af42-645501dcded4,Credit Card,Success,9072,WEEKENDSERU,10000,2019-08-14T18:07:04.125993Z,-0.992004,114.438739,1295740,6352,1,297248
12,2019-08-10T12:14:24.365620Z,4774,771665e9-7df2-41c8-8168-16d5cdd407a1,f5352cdc-0e3c-4e77-af42-645501dcded4,Credit Card,Success,9072,WEEKENDSERU,10000,2019-08-14T18:07:04.125993Z,-0.992004,114.438739,1295740,26620,1,191138
13,2019-08-10T12:14:24.365620Z,4774,771665e9-7df2-41c8-8168-16d5cdd407a1,f5352cdc-0e3c-4e77-af42-645501dcded4,Credit Card,Success,9072,WEEKENDSERU,10000,2019-08-14T18:07:04.125993Z,-0.992004,114.438739,1295740,22849,1,78559
14,2019-08-10T12:14:24.365620Z,4774,771665e9-7df2-41c8-8168-16d5cdd407a1,f5352cdc-0e3c-4e77-af42-645501dcded4,Credit Card,Success,9072,WEEKENDSERU,10000,2019-08-14T18:07:04.125993Z,-0.992004,114.438739,1295740,56247,1,193870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254550,2019-10-14T11:54:11.214122Z,37956,59dd4a7b-b9b5-4205-974f-0640062dc827,e25c40d6-f68c-47fd-97b8-cc6f5ab2ccfa,OVO,Success,0,NaN,10000,2019-10-18T12:45:42.891527Z,-6.685415,107.685665,933627,35632,1,111997
1254559,2020-05-13T19:17:26.359304Z,64772,9003bf28-afba-4881-8edd-b05f2ce0d652,e46d55c9-032c-4bfc-b469-8caa3ff499d2,OVO,Success,3981,BUYMORE,0,2020-05-19T09:40:17.878411Z,-6.939718,111.256057,365206,30760,1,161040
1254561,2020-12-02T00:10:25.359304Z,64772,98206a95-8095-45ec-90fe-701df7b1b654,2b726afb-7a89-4dbc-94c5-342c77b5fd10,OVO,Success,0,NaN,10000,2020-12-07T15:49:19.440041Z,0.350953,99.640838,197402,19615,1,155353
1254566,2016-11-22T13:02:52.112855Z,24508,bb64c193-bc69-4190-bc36-cb601651e506,54406cb9-261b-4ecd-af1b-b345cbc8172c,OVO,Success,10327,STARTUP,0,2016-11-26T13:02:57.693302Z,-6.332865,106.885794,1889564,6068,5,331316
1254577,2016-09-22T00:46:56.728174Z,16528,e3877a13-8283-4b71-adb6-55e22ca62247,0a166859-a3de-4b8e-8c5c-90b58e5122f1,Credit Card,Success,0,NaN,5000,2016-09-27T13:11:08.654682Z,3.347205,106.302090,531721,25724,1,164515

In [35]:
transaction_cleaned = transaction.drop(td_idx)

In [38]:
trans_time = transaction_cleaned['created_at'].str.split('.')
trans_time = trans_time.str[0]
trans_time1 = trans_time.str.split('T')
trans_date = trans_time1.str[0]
trans_time2 = trans_time1.str[1]

In [39]:
transaction_cleaned.columns

Index(['created_at', 'customer_id', 'booking_id', 'session_id',
       'payment_method', 'payment_status', 'promo_amount', 'promo_code',
       'shipment_fee', 'shipment_date_limit', 'shipment_location_lat',
       'shipment_location_long', 'total_amount', 'product_id', 'quantity',
       'item_price'],
      dtype='object')

In [40]:
transaction_cleaned['created_at'] = trans_time
transaction_cleaned['trans_date'] = trans_date
transaction_cleaned['trans_time2'] = trans_time2
df_transaction = transaction_cleaned[['session_id', 'customer_id', 'trans_date', 'trans_time2', 'created_at', 'booking_id', 
       'payment_method', 'payment_status', 'promo_amount', 'promo_code',
       'shipment_fee', 'shipment_date_limit', 'shipment_location_lat',
       'shipment_location_long', 'total_amount', 'product_id', 'quantity',
       'item_price']]
df_transaction

,session_id,customer_id,trans_date,trans_time2,created_at,booking_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,3abaa6ce-e320-4e51-9469-d9f3fa328e86,5868,2018-07-29,15:22:01,2018-07-29T15:22:01,186e2bee-0637-4710-8981-50c2d737bc42,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
1,2ee5ead1-f13e-4759-92df-7ff48475e970,4774,2018-07-30,12:40:22,2018-07-30T12:40:22,caadb57b-e808-4f94-9e96-8a7d4c9898db,Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526
2,93325fb6-eb00-4268-bb0e-6471795a0ad0,4774,2018-09-15,11:51:17,2018-09-15T11:51:17,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
3,bcad5a61-1b67-448d-8ff4-781d67bc56e4,4774,2018-11-01,11:23:48,2018-11-01T11:23:48,f5e530a7-4350-4cd1-a3bc-525b5037bcab,Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012
4,df1042ab-13e6-4072-b9d2-64a81974c51a,4774,2018-12-18,11:20:30,2018-12-18T11:20:30,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254580,484eecde-9f4a-42de-a8df-7ce6668101f4,25121,2021-09-21,22:10:05,2021-09-21T22:10:05,66f02fa4-c62e-497a-8b6e-be239009b50a,Debit Card,Failed,0,NaN,0,2021-09-27T00:43:40.992167Z,-6.869535,111.077145,226820,30642,2,113410
1254581,954e1211-4d45-4d0b-ba84-53e80119592c,34829,2021-12-09,07:35:18,2021-12-09T07:35:18,ccde6b83-ee42-4cce-b2cd-976574886eac,OVO,Success,5010,AZ2022,10000,2021-12-12T07:52:44.803822Z,-8.677264,115.176947,359203,19394,1,354213
1254582,e6e6c108-abd0-49a2-b0a5-691117f9cfe1,99645,2021-12-11,01:20:36,2021-12-11T01:20:36,5bcd3434-1dc6-44bb-ae63-fd19714cbd6c,Credit Card,Success,2181,WEEKENDSERU,5000,2021-12-12T13:28:22.848703Z,-6.185498,106.831093,1158159,13079,4,288835
1254583,bb6e5426-a3f3-426a-b99d-79173eaa234b,87319,2019-12-18,11:01:09,2019-12-18T11:01:09,af7f291a-b01b-4bfd-89a9-237b16368b15,Credit Card,Success,4503,AZ2022,0,2019-12-23T22:56:46.831720Z,-7.155977,110.891858,184143,11312,1,188646
1254584,5e3183df-198b-40e0-b861-27ef694a832a,58180,2019-12-19,12:47:14,2019-12-19T12:47:14,b242e188-5f94-4448-a038-c5865842374b,Gopay,Success,4724,BUYMORE,10000,2019-12-23T06:02:05.828334Z,-6.155983,106.723535,365963,47433,1,360687

In [47]:
ls

click_stream.csv      df_click.csv        product.csv
click_stream_new.csv  fashion-campus.zip  transaction_new.csv
customer.csv          kaggle.json         transactions.csv

In [48]:
df_transaction.to_csv('df_transaction.csv', index=False)

In [50]:
customer[customer['username'].duplicated()]

Empty DataFrame
Columns: [customer_id, first_name, last_name, username, email, gender, birthdate, device_type, device_id, device_version, home_location_lat, home_location_long, home_location, home_country, first_join_date]
Index: []

In [74]:
product

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [90]:
transaction['payment_method'].value_counts()

Credit Card    439876
Gopay          251577
OVO            249065
Debit Card     202552
LinkAja        111515
Name: payment_method, dtype: int64

In [95]:
product['product_id'] = product['id']
d = product[['product_id', 'gender', 'masterCategory', 'subCategory', 'articleType', 'baseColour', 'season']]
d

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer
2,59263,Women,Accessories,Watches,Watches,Silver,Winter
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer
...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter

In [97]:
transaction.columns
d2 = transaction[['created_at', 'customer_id', 'booking_id', 'session_id',
       'payment_method', 'payment_status', 'promo_amount', 'promo_code',
       'shipment_fee', 'shipment_location_long', 'total_amount', 'product_id', 'quantity',
       'item_price']]
d3 = pd.merge(d, d2, on='product_id')
d3

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_location_long,total_amount,quantity,item_price
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2019-07-04T09:43:04.691523Z,58112,5af40e2d-34cb-4180-b570-aacb7ae5f06a,2574a34f-2ac3-41f1-9145-a558f2901dd2,Debit Card,Success,3611,AZ2022,0,106.877871,1193586,1,172361
1,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2021-10-18T02:42:44.802978Z,71232,8723e324-1530-484e-88b6-a9d85f8dd13b,92153370-9f18-46f5-b523-66742be1c062,OVO,Success,0,NaN,0,112.745038,7218361,3,256822
2,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2020-07-06T01:05:31.917477Z,59815,9b40b96a-3bbd-4162-97d4-ac15c66a2496,253b61bd-34d7-4036-aae1-8bb9ddf940b6,Credit Card,Success,0,NaN,10000,106.813790,690544,1,680544
3,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2021-07-19T19:08:21.678312Z,85744,c9fe45d3-0918-4aeb-b4bb-f63dee829620,9c5f4cc6-0aa9-47dc-ba2f-99099e9129f4,OVO,Success,4505,AZ2022,50000,111.945939,605587,1,560092
4,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2022-05-25T04:44:49.224091Z,75395,78508475-048e-40aa-afbf-57f7fdb8c6e3,161b2e0e-e524-487f-830f-82ed2d1ecf79,LinkAja,Success,0,NaN,10000,107.075386,415826,1,135930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253961,51623,Women,Accessories,Watches,Watches,Pink,Winter,2022-01-04T13:40:28.429573Z,39451,ffd15f6c-f5b4-4c60-9321-f5ae25433c5c,569df7f3-6aec-40f4-aee9-45c29a26f912,Credit Card,Success,3386,AZ2022,0,111.405293,1244219,5,249521
1253962,51623,Women,Accessories,Watches,Watches,Pink,Winter,2020-03-05T10:09:03.345710Z,68573,70ece3ed-f300-46b7-9331-d30ecf7c5600,7d1cc11f-15e8-4320-abfc-4d50f604f5db,Credit Card,Success,7036,XX2022,10000,103.761191,1049731,3,200490
1253963,51623,Women,Accessories,Watches,Watches,Pink,Winter,2021-09-29T13:12:32.617351Z,91047,87ff1b49-6488-4c06-aa99-442c8907547d,7c57ef18-70f1-4b6d-bb09-2958cb475568,Debit Card,Success,0,NaN,15000,106.854615,814466,1,482029
1253964,51623,Women,Accessories,Watches,Watches,Pink,Winter,2022-05-24T13:17:29.582107Z,35902,ea61ce65-cb5b-41ca-84c3-7743f38cd168,4ad7577e-3a07-4af0-b2db-9a3f1a39468e,Credit Card,Success,0,NaN,10000,124.163638,302576,1,292576
1253965,51623,Women,Accessories,Watches,Watches,Pink,Winter,2021-06-23T19:10:50.397222Z,43914,1a0bb828-5a42-4fe5-a2ad-7ca04b50893f,83271a7e-63e6-4765-b523-bca8a91fb61e,Gopay,Success,0,NaN,15000,105.673187,428970,1,97679

In [98]:
d3.gender.value_counts()

Men       624729
Women     526897
Unisex     60513
Boys       23543
Girls      18284
Name: gender, dtype: int64

In [102]:
d3[d3['gender']=='Men'].articleType.value_counts()

Tshirts                147880
Shirts                  80397
Casual Shoes            63331
Sports Shoes            45009
Watches                 41257
                        ...
Mens Grooming Kit          30
Tops                       29
Body Wash and Scrub        27
Waist Pouch                26
Tights                     24
Name: articleType, Length: 69, dtype: int64

In [109]:
d3[d3['gender']=='Men'].groupby(['articleType']).sum()[['total_amount', 'quantity', 'promo_amount']].sort_values(by=['total_amount'], ascending=False)

                     total_amount  quantity  promo_amount
articleType
Tshirts              173996374251    218221     302605769
Shirts                94058781342    118453     163599158
Casual Shoes          74912895673     93399     130437080
Sports Shoes          53249130117     66750      92818161
Watches               48544893739     61051      84518444
...                           ...       ...           ...
Tops                     38399107        37         53935
Heels                    34883562        40         78684
Sunscreen                34845039        40         81732
Tights                   33910525        34         39963
Body Wash and Scrub      24215010        38         38920

[69 rows x 3 columns]

In [103]:
d3[d3['gender']=='Women'].articleType.value_counts()

Kurtas             49582
Handbags           47790
Tops               43357
Heels              37773
Tshirts            31255
                   ...
Tracksuits            38
Ipad                  31
Tablet Sleeve         28
Innerwear Vests       26
Hair Accessory        25
Name: articleType, Length: 112, dtype: int64

In [110]:
d3[d3['gender']=='Women'].groupby(['articleType']).sum()[['total_amount', 'quantity', 'promo_amount']].sort_values(by=['total_amount'], ascending=False)

                 total_amount  quantity  promo_amount
articleType
Kurtas            59214277865     73380     102271806
Handbags          56810863085     70917      97039462
Tops              50910326150     63429      88848638
Heels             44370242814     55368      78135851
Tshirts           37225302169     46024      63495580
...                       ...       ...           ...
Innerwear Vests      37868805        41         70971
Tracksuits           37547589        48        107153
Ipad                 35526249        39         74087
Hair Accessory       32036787        41         59102
Tablet Sleeve        31234983        33         42179

[112 rows x 3 columns]

In [99]:
d4= d3.drop_duplicates(subset='product_id')
d4

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_location_long,total_amount,quantity,item_price
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2019-07-04T09:43:04.691523Z,58112,5af40e2d-34cb-4180-b570-aacb7ae5f06a,2574a34f-2ac3-41f1-9145-a558f2901dd2,Debit Card,Success,3611,AZ2022,0,106.877871,1193586,1,172361
31,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2021-12-11T23:00:56.302425Z,3609,30e98c83-ac0e-46e0-a975-6e30376c32b3,2960524e-5266-487c-9a95-8969d03da2bb,Gopay,Success,0,NaN,10000,110.632550,343957,1,114570
57,59263,Women,Accessories,Watches,Watches,Silver,Winter,2018-05-18T12:19:45.632168Z,22010,c59524ce-4905-4b95-87ac-9cab00393cb5,8c0b146c-d134-4d5b-b17a-72591e83c07d,Gopay,Failed,0,NaN,0,119.496853,3087099,1,254362
89,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2020-05-09T14:31:48.765570Z,77452,6bba4886-0a16-4cdb-bc00-5792bcd5faed,092f83dc-cce3-4434-9c44-9cafc6e6be45,Debit Card,Success,0,NaN,10000,110.584211,263367,1,253367
118,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2021-01-08T17:38:27.518739Z,1853,bb2d0652-fa97-4577-afdf-ba4314a67b12,f7ae5ddc-2136-41b7-a258-246685d40430,OVO,Success,7191,BUYMORE,5000,106.885616,172941,1,175132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253814,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2021-03-20T21:07:23.284804Z,76502,2b87415b-0f3a-4678-ac43-211542a19190,a82223c1-0b07-4bea-a9d2-75964faf3529,Gopay,Success,3853,WEEKENDSERU,10000,104.420624,357482,1,169181
1253838,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2019-07-26T13:27:14.992373Z,15654,9bd87fed-68e2-4e04-95bb-7594a0681180,1c9197d4-9830-4416-af54-268362c547fb,LinkAja,Success,0,NaN,10000,110.573103,153311,1,143311
1253876,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2019-11-24T05:07:35.518653Z,46177,6a267f99-3e0b-4255-a336-935200f937f2,36720582-2909-4216-9222-d71043d58daf,Debit Card,Success,1886,WEEKENDSERU,0,114.718102,3175778,1,432074
1253910,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2021-05-14T23:43:27.815535Z,29482,a8e40bc8-4d0d-4bf2-a5dc-97f06742719e,700853c4-4375-4101-9da7-610c8a1f9e8f,OVO,Success,0,NaN,10000,112.443297,591563,1,142952
1253934,51623,Women,Accessories,Watches,Watches,Pink,Winter,2019-05-01T09:54:58.123459Z,97641,d7565cd4-3b14-49cb-aae9-95062311ba54,700e1304-ceda-4a25-aebb-ccb02fb882fe,Credit Card,Failed,0,NaN,10000,113.583382,6089462,1,236612

In [77]:
product.gender.value_counts()

Men       22147
Women     18631
Unisex     2161
Boys        830
Girls       655
Name: gender, dtype: int64

In [88]:
customer.gender.value_counts()

F    64230
M    35770
Name: gender, dtype: int64

In [78]:
product.masterCategory.value_counts()

Apparel           21397
Accessories       11274
Footwear           9219
Personal Care      2403
Free Items          105
Sporting Goods       25
Home                  1
Name: masterCategory, dtype: int64

In [79]:
product.articleType.value_counts()

Tshirts                7067
Shirts                 3217
Casual Shoes           2845
Watches                2542
Sports Shoes           2036
                       ...
Shoe Laces                1
Mens Grooming Kit         1
Body Wash and Scrub       1
Suits                     1
Ipad                      1
Name: articleType, Length: 143, dtype: int64

In [80]:
product.baseColour.value_counts()

Black                9728
White                5538
Blue                 4918
Brown                3494
Grey                 2741
Red                  2455
Green                2115
Pink                 1860
Navy Blue            1789
Purple               1640
Silver               1090
Yellow                778
Beige                 749
Gold                  628
Maroon                581
Orange                530
Olive                 410
Multi                 394
Cream                 390
Steel                 315
Charcoal              228
Peach                 195
Off White             182
Skin                  179
Lavender              162
Grey Melange          146
Khaki                 139
Magenta               129
Teal                  120
Tan                   114
Mustard                97
Bronze                 95
Copper                 86
Turquoise Blue         69
Rust                   66
Burgundy               45
Metallic               43
Coffee Brown           31
Mauve                  29
Rose                   28
Nude                   23
Sea Green              22
Mushroom Brown         16
Taupe                  11
Lime Green              6
Fluorescent Green       5
Name: baseColour, dtype: int64

In [81]:
product.season.value_counts()

Summer    21472
Fall      11431
Winter     8517
Spring     2983
Name: season, dtype: int64

In [7]:
click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833602 entries, 0 to 12833601
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       object
 1   event_name       object
 2   event_time       object
 3   event_id         object
 4   traffic_source   object
 5   product_id       float64
 6   quantity         float64
 7   item_price       float64
 8   payment_status   object
 9   search_keywords  object
 10  promo_code       object
 11  promo_amount     float64
dtypes: float64(4), object(8)
memory usage: 1.1+ GB

In [8]:
click

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315.0,4.0,313529.0,NaN,NaN,NaN,NaN
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12833597,ad1063b0-a6e5-40a9-aed6-d1b45741e571,SEARCH,2021-06-07T04:37:53.354381Z,4b3b91a5-9bda-44de-87dc-153367071dfc,MOBILE,NaN,NaN,NaN,NaN,Bekas,NaN,NaN
12833598,64585e37-3fe7-48d7-b79b-ebcb70230eb2,HOMEPAGE,2021-05-05T11:44:14.985835Z,ab0acc87-9578-408a-b47f-c46996b8b52f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833599,64585e37-3fe7-48d7-b79b-ebcb70230eb2,ADD_TO_CART,2021-05-05T11:53:10.985835Z,230d7b67-9934-42f9-9509-b330ac6ae777,MOBILE,19820.0,1.0,88918.0,NaN,NaN,NaN,NaN
12833600,64585e37-3fe7-48d7-b79b-ebcb70230eb2,BOOKING,2021-05-05T12:10:09.135142Z,8996ce49-c5dd-41ed-9231-28bfdb634cbe,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
12833601,64585e37-3fe7-48d7-b79b-ebcb70230eb2,SEARCH,2021-05-05T11:53:12.985835Z,3c60d8bc-b3e1-41fa-a87b-f65a9053856a,MOBILE,NaN,NaN,NaN,NaN,Baju,NaN,NaN

In [7]:
click_idx = click[click['event_name']=='CLICK'].index
scroll_idx = click[click['event_name']=='SCROLL'].index

click_idx

Int64Index([      28,       30,       36,       48,       50,       58,
                  60,       61,       63,       68,
            ...
            12833423, 12833437, 12833449, 12833469, 12833477, 12833509,
            12833513, 12833549, 12833557, 12833565],
           dtype='int64', length=2498038)

In [8]:
click = click.drop(click_idx)
click = click.drop(scroll_idx)

In [15]:
event_time = click['event_time'].str.split('.')
event_time = event_time.str[0]
event_time1 = event_time.str.split('T')
event_date = event_time1.str[0]
event_time2 = event_time1.str[1]

In [14]:
e = click['event_time'][0:3].str.split('.')
print(e)
e2 = e.str[0]
e2 = e2.str.split('T')
print(e2)

0    [2019-09-06T15:54:32, 821085Z]
2    [2019-09-01T12:05:10, 322763Z]
3    [2019-09-01T12:06:33, 322763Z]
Name: event_time, dtype: object
0    [2019-09-06, 15:54:32]
2    [2019-09-01, 12:05:10]
3    [2019-09-01, 12:06:33]
Name: event_time, dtype: object

In [8]:
click.columns

Index(['session_id', 'event_name', 'event_time', 'event_id', 'traffic_source',
       'product_id', 'quantity', 'item_price', 'payment_status',
       'search_keywords', 'promo_code', 'promo_amount', 'event_date',
       'event_time2'],
      dtype='object')

In [16]:
click['event_time'] = event_time
click['event_date'] = event_date
click['event_time2'] = event_time2
click_cleaned = click[['session_id', 'event_name', 'event_time', 'event_date',
       'event_time2', 'event_id', 'traffic_source',
       'product_id', 'quantity', 'item_price', 'payment_status',
       'search_keywords', 'promo_code', 'promo_amount']]
click_cleaned

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount,event_date,event_time2
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-06,15:54:32
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-01,12:05:10
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315.0,4.0,313529.0,NaN,NaN,NaN,NaN,2019-09-01,12:06:33
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN,2019-09-01,12:15:29
5,7d440441-e67a-4d36-b324-80ffd636d166,SEARCH,2019-09-01T12:07:00,c952142b-4fe9-4694-ad7f-21a5d1bed9ca,MOBILE,NaN,NaN,NaN,NaN,Dress Kondangan,NaN,NaN,2019-09-01,12:07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12833597,ad1063b0-a6e5-40a9-aed6-d1b45741e571,SEARCH,2021-06-07T04:37:53,4b3b91a5-9bda-44de-87dc-153367071dfc,MOBILE,NaN,NaN,NaN,NaN,Bekas,NaN,NaN,2021-06-07,04:37:53
12833598,64585e37-3fe7-48d7-b79b-ebcb70230eb2,HOMEPAGE,2021-05-05T11:44:14,ab0acc87-9578-408a-b47f-c46996b8b52f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-05,11:44:14
12833599,64585e37-3fe7-48d7-b79b-ebcb70230eb2,ADD_TO_CART,2021-05-05T11:53:10,230d7b67-9934-42f9-9509-b330ac6ae777,MOBILE,19820.0,1.0,88918.0,NaN,NaN,NaN,NaN,2021-05-05,11:53:10
12833600,64585e37-3fe7-48d7-b79b-ebcb70230eb2,BOOKING,2021-05-05T12:10:09,8996ce49-c5dd-41ed-9231-28bfdb634cbe,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN,2021-05-05,12:10:09
12833601,64585e37-3fe7-48d7-b79b-ebcb70230eb2,SEARCH,2021-05-05T11:53:12,3c60d8bc-b3e1-41fa-a87b-f65a9053856a,MOBILE,NaN,NaN,NaN,NaN,Baju,NaN,NaN,2021-05-05,11:53:12

In [27]:
df_click = click_cleaned.reset_index(drop=True)
df_click

,session_id,event_name,event_time,event_date,event_time2,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32,2019-09-06,15:54:32,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10,2019-09-01,12:05:10,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33,2019-09-01,12:06:33,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315.0,4.0,313529.0,NaN,NaN,NaN,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29,2019-09-01,12:15:29,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
4,7d440441-e67a-4d36-b324-80ffd636d166,SEARCH,2019-09-01T12:07:00,2019-09-01,12:07:00,c952142b-4fe9-4694-ad7f-21a5d1bed9ca,MOBILE,NaN,NaN,NaN,NaN,Dress Kondangan,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8671988,ad1063b0-a6e5-40a9-aed6-d1b45741e571,SEARCH,2021-06-07T04:37:53,2021-06-07,04:37:53,4b3b91a5-9bda-44de-87dc-153367071dfc,MOBILE,NaN,NaN,NaN,NaN,Bekas,NaN,NaN
8671989,64585e37-3fe7-48d7-b79b-ebcb70230eb2,HOMEPAGE,2021-05-05T11:44:14,2021-05-05,11:44:14,ab0acc87-9578-408a-b47f-c46996b8b52f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8671990,64585e37-3fe7-48d7-b79b-ebcb70230eb2,ADD_TO_CART,2021-05-05T11:53:10,2021-05-05,11:53:10,230d7b67-9934-42f9-9509-b330ac6ae777,MOBILE,19820.0,1.0,88918.0,NaN,NaN,NaN,NaN
8671991,64585e37-3fe7-48d7-b79b-ebcb70230eb2,BOOKING,2021-05-05T12:10:09,2021-05-05,12:10:09,8996ce49-c5dd-41ed-9231-28bfdb634cbe,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
8671992,64585e37-3fe7-48d7-b79b-ebcb70230eb2,SEARCH,2021-05-05T11:53:12,2021-05-05,11:53:12,3c60d8bc-b3e1-41fa-a87b-f65a9053856a,MOBILE,NaN,NaN,NaN,NaN,Baju,NaN,NaN

In [25]:
click_cleaned.isna().sum()

session_id               0
event_name               0
event_time               0
event_date               0
event_time2              0
event_id                 0
traffic_source           0
product_id         6734836
quantity           6734836
item_price         6734836
payment_status     7819411
search_keywords    7498727
promo_code         8345458
promo_amount       8345458
dtype: int64

In [28]:
df_click.to_csv('df_click.csv', index=False)